<!-- quiz_question_form.html -->
{% extends "base.html" %}

{% block content %}
<h1>{{ 'Edit' if question else 'Add' }} Question</h1>

<form method="POST">
    {{ form.hidden_tag() }}
    <div>
        {{ form.question_text.label }}<br>
        {{ form.question_text(size=50) }}
    </div>
    <div>
        {{ form.choices.label }}<br>
        {{ form.choices(size=50) }}
    </div>
    <div>
        {{ form.correct_answer.label }}<br>
        {{ form.correct_answer(size=50) }}
    </div>
    <div>
        <button type="submit">{{ 'Save Changes' if question else 'Add Question' }}</button>
    </div>
</form>
{% endblock %}
