{% extends "base.html" %}

{% block content %}

    <h1>Quiz: {{ quiz.id }}</h1>
    <p>Question duration: {{ quiz.duration.value }} Minute</p>   

    <h2>Questions</h2>  
    {% include "_question_form.html" %}<br>
    {% for question in questions %}
        <p>Q: {{ question.question }}</p>  <!-- Display the question text -->
        <ul>
            <li>{{ question.option1 }}</li>  <!-- Display each option -->
            <li>{{ question.option2 }}</li>
            <li>{{ question.option3 }}</li>
            <li>{{ question.option4 }}</li>
        </ul><br>

    {% endfor %}

{% endblock %}