{% extends "base.html" %}

{% block content %}
    <h1>{{ subject.name }}</h1>
    <p>{{ subject.description or "No description available" }}</p>

    <a href="{{ url_for('topics', subject_id=subject.id) }}">View topics</a>
    <br>
    <h2>Quizzes</h2>
    {% if not current_user.is_anonymous and current_user.is_admin %}
        {% include "_quiz_form.html" %}
    {% endif %}
    <br>
    {% if quizzes %}
        {% for quiz in quizzes %}
            <table>
                <tr>
                    <td>
                        <a href="{{ url_for('view_quiz', subject_id=quiz.subject_id, quiz_id=quiz.id) }}"><strong>Quiz: {{ quiz.id }}</strong></a>
                    </td>
                    {% if not current_user.is_anonymous and current_user.is_admin %}
                    <td>
                        {{ quiz.status.value }}
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        {{ quiz.duration.value }}
                    </td>
                </tr>
                {% if current_user.is_admin %}
                <tr>
                    <td>
                        <a href="{{ url_for('edit_quiz', subject_id=quiz.subject_id, quiz_id=quiz.id) }}">Edit</a>
                    </td>
                    <td>
                        <form action="{{ url_for('delete_quiz', subject_id=quiz.subject_id, quiz_id=quiz.id) }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endif %}
            </table>
            <br>
        {% endfor %}
    {% else %}
    <p>No quizzes were added yet!</p>
    {% endif %}
{% endblock %}
