<form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    
    <p>
        {{ form.name.label }}<br>
        {{ form.name(size=32) }}
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.description.label }}<br>
        {{ form.description(size=100) }}
        {% for error in form.description.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
</form>
<p>
    {% if topics %}
    <ul>
        {% for topic in topics %}
        <li>
            {{ topic.description or "No description available" }}<br>
            {% if current_user.is_admin %}
            <form action="{{ url_for('delete_topic', topic_id=topic.id) }}" method="POST" style="display:inline;">
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No topics are available.</p>
    {% endif %}
</p>